@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    padding:0px 15px;
    margin:0 auto;
}
.header{
    background-image: url(../images/bg.jpg);
    height: 100vh;
    background-position: top bottom;
    background-size:cover;
    background-repeat: no-repeat;
}
.header-logo{
    padding-top: 34px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 160px;
}
.header-menu ul{
    display: flex;
}
.header-menu ul li{
    margin-left: 30px;
}
.header-menu ul li:first-child{
    margin: 0;
}
.header-menu ul li a{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.header__title h3{
    text-align: center;
    font-size: 96px;
    line-height: 112px;
    font-weight: 700;
}
.header-subtitle h3{
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.header-burger{
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
}
.burger-line{
    position: absolute;
    background-color: #fff;
    width: 25px;
    height: 2px;
    top:50%;
    left: 25%;
}
.first{
    top:17px;
}
.third{
    top:33px;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7A3D1C;
    border: 2px solid #FDD486;
}
.slick-dots li{
    margin-right:15px;
}
.slick-dots li:last-child{
    margin:0;
}
@media(max-width:950px){
    .header__title h3 {
        font-size: 60px;
    }
    .header-subtitle h3 {
        font-size: 18px;
    }
}
@media(max-width:800px){
    .header-menu{
        background-color:salmon;
        display: block;
        top:-100%;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10;
        padding-top: 100px;
    }
    .header-menu ul li{
        padding-bottom: 50px;
    }
    .header-menu ul li:first-child{
        margin-left: 30px;
    }
    .header-menu ul{
        display: block;
    }
    .header-burger{
        display: block;
        z-index: 11
    }
    .header-menu.active{
        top:0;
    }
}
@media(max-width:603px){
    .header__title h3 {
        font-size: 40px;
    }
    .header-subtitle h3 {
        font-size: 18px;
    }
}
@media(max-width:412px){
    .header__title h3 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
    }
    .header-subtitle h3 {
        font-size: 16px;
    }
    .header-logo img{
        width: 100px;
    }
}